@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.note-text {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 
  block w-full p-2.5 rounded-lg my-2;
}

.btn {
  @apply inline-flex justify-center border border-transparent text-sm font-medium  
  focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2
  rounded-md px-4 py-2;
}

.btn-primary {
  @apply btn bg-blue-100 text-blue-900 hover:bg-blue-200 focus-visible:ring-blue-500;
}

.btn-danger {
  @apply btn text-gray-900 bg-red-400 hover:bg-red-500 focus-visible:ring-red-500;
}

.btn-sucess {
  @apply btn text-gray-900 bg-green-400 hover:bg-green-500 focus-visible:ring-green-500;
}

.pill {
  @apply flex justify-center rounded-full px-3 py-1 text-sm font-semibold 
  text-gray-700 mr-2 mb-2 items-center w-16 h-8;
}

.card {
  @apply rounded overflow-hidden shadow-lg;
}
