@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.note-text {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 
  block w-full p-2.5 rounded-lg my-2;
}

.btn {
  @apply inline-flex justify-center border border-transparent 
  bg-blue-100 text-sm font-medium text-blue-900 hover:bg-blue-200 
  focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2
  rounded-md px-4 py-2;
}

.btn-danger {
  @apply inline-flex justify-center border border-transparent 
  text-sm font-medium text-gray-900 bg-red-400 hover:bg-red-500
  focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2
  rounded-md px-4 py-2;
}

.btn-sucess {
  @apply inline-flex justify-center border border-transparent 
  text-sm font-medium text-gray-900 bg-green-400 hover:bg-green-500
  focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2
  rounded-md px-4 py-2;
}
